p {
  border: 4px solid #7DCE94;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 40px;
  background: #0D91A1;
  width: 150px;
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 30px;
  color: #015668;
  
  }