#mainbox {
  width: 900px;
  height: 550px;  
}

div {
  width: 900px;
  height: 50px;
  background: purple;
  display: flex;
  align-items: center;
}

section {
  height: 30px;
  background: cyan;
  width: 100px;
  margin-right: 10px;
  margin-left: 10px; 
}

.bigger {
  width: 150px;
}

.newdiv {
  height: 500px;
  background: none;
  display: flex
}

.yellow {
  height: 500px;
  background: yellow;
  width: 650px


}

.green {
  height: 500px;
  background: lime;
  width: 250px
  
  
}






